body{
        font-family:"Plus Jakarta Sans", sans-serif !important;
        display: flex;
        flex-direction: column;
        min-height: 100vh;
}
.container{
        flex:1;
}
/* navbar */
.navbar{
        height: 5rem;
        background-color: white;
        position: sticky;           
        top: 0;
        z-index: 2000;   
}
.fa-compass{
        color: #fe424d;
        font-size: 2rem;
}
.nav-link{
     color: #222222 !important;   
}

/* footer */
.f-info-links a{
        text-decoration: none;
        color:#222222;
}
.f-info-links a:hover{
        text-decoration: underline;
        color:black;
}
.f-info-links,.f-info-socials,.f-info-brand{
        width:100%;
        display: flex;
        align-items: center;
        justify-content: center;
}
.f-info-socials i{
        font-size: 1.3rem;
        margin-right: 1 rem;
}
.f-info{
        text-align: center;
     display:flex;   
     height: 8rem;
     background-color: #ebebeb;
     flex-wrap: wrap;
     justify-content: center;
     align-content: space-evenly;
}
/* cards */
.listing-card{
        border: none !important;
        margin-bottom: 2rem;    
}
.card-img-top{
        border-radius: 1rem !important;
        width: 100% !important;
        object-fit: cover !important;
}
.card-body{
        padding: 0 !important;
}
.card-text p{
        font-weight: 400 !important;
}
.listing-link{
        text-decoration: none;
}
/* card effect */
.card-img-overlay{
        opacity:0;
}
.card-img-overlay:hover{
       opacity: 0.2;
       background-color: white; 
}
/* New / edit Page */
.add-btn,.edit-btn{
        background-color: #fe424d !important;
        border: none !important;
}
.edit-img{
        height: 25vh;
}
.form-lable{
        font-weight: 700;
}
/* Show img */
.show-img{
        height: 30vh;
}
.btns{
        display: flex;
}
.show-card{
        padding-left: 0;
        padding-right: 0;
};
/* Map */
.container-fluid{
  flex: 1; /* stretches */
  display: flex;
}
#map{
  height: 500px !important;
  width: 80vh !important;
  background: lightgray !important;
  display: block !important;
  position: relative !important;
  z-index: 0;
  flex:1;
}

